@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --font-bruno: 'Bruno Ace SC', cursive;
  --font-kanit: 'Kanit', sans-serif;


  --background-color: linear-gradient(35deg, #c8e8ff, #dbf8f8);
  --background-color: #191825;
  --text-color: #CCCCCC;
  --hover-color: #19A7CE;

  --large-paragraph: 1.2rem;
  --small-paragraph: 1rem;

  --min-height: 100vh;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-kanit);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: var(--min-height);
}

footer {
  margin-top: 2rem;
  font-size: var(--small-paragraph);
  font-family: var(--font-bruno);
  color: var(--text-color);
  text-align: center;
}

footer a {
  color: var(--hover-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}